@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    section {
        @apply py-[75px];
    }
}

@layer components {
    .container {
        @apply max-w-full w-[1440px] px-5 mx-auto;
    }
    .box_style {
        border: 1px solid #d1d5db;
        padding: 10px;
        border-radius: 4px;
        background-color: #f9fafb;
        width: 100%;
        box-sizing: border-box;
        margin-top: 8px;
    }
    
    .btn {
        @apply bg-primaryColor py-[15px] px-[35px] rounded-[50px] text-white font-[600] mt-[38px];
    }

    .heading {
        @apply text-[44px] leading-[54px] font-[700] text-headingColor;
    }

    .text__para {
        @apply text-[18px] leading-[30px] font-[400] text-textColor mt-[18px];
    }
    .header {
        @apply bg-white w-full h-[100px] leading-[100px] border-b-2 border-black;
    }
    

    .hero__section {
        position: relative;
        overflow: hidden;
    }
    
    .hero__section video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        opacity: 0.8;
    }

    .form__label {
        @apply text-textColor font-semibold text-[16px] leading-7 mb-2;
    }

    .form__input {
        @apply w-full px-4 py-3 border border-solid border-[#0066ff61] focus:outline-none focus:border-primaryColor text-[16px] leading-7 text-headingColor placeholder:text-textColor cursor-pointer rounded-md;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        @apply w-full;
    }

    section {
        @apply text-[26px] leading-[36px];
    }
}

@media only screen and (max-width: 768px) {
    .heading {
        @apply text-[26px] leading-[36px];
    }

    .text__para {
        @apply text-[16px] leading-7 mt-3;
    }
}
